/* Preloader */
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: 0.3s all ease;
  pointer-events: none;
  backface-visibility: hidden;
}

.preloader::before,
.preloader::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  transition: 0.2s linear;
  transform: translateX(0);
  pointer-events: none;
}

.preloader::before {
  left: 0;
  right: 50%;
  background: #ffffff;
}

.preloader::after {
  left: 50%;
  right: 0;
  background: #f8f8fb;
}

.preloader.loaded::before,
.preloader.loaded::after {
  transition: 0.4s linear;
}

.preloader.loaded::before {
  transform: translateX(-100%);
}

.preloader.loaded::after {
  transform: translateX(100%);
}

.preloader-logo,
.preloader-body {
  transition: 0s .2s;
}

.preloader-logo {
  position: relative;
  z-index: 10;
  transform: translate3d(0, -50%, 0);
  padding: 40px;
}

.preloader-body {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
}

.cssload-container {
  width: 100%;
  height: 50px;
  text-align: center;
}

.cssload-speeding-wheel {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: 3px solid #175f88;
  border-radius: 50%;
  border-left-color: #e0e6ea;
  border-bottom-color: #e0e6ea;
  animation: cssload-spin .88s infinite linear;
}

@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
  }
}

/* dropdown css */
.dropbtn {

  color: white;

  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
@media screen and (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }
  
}
@media screen and (min-width: 768px) {
  .mobile-view {
    display: none;
  }
  
}
.active {
  background-color: #04AA6D;
  color: white;
}
/* //breaking news */
.breaking-news {
  background-color: #ff0000;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.breaking-news span {
  margin-right: 10px;
  font-weight: bold;
}

.news-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  animation: slide 10s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
